<!DOCTYPE html>
    <html lang="en">
    <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
<style>
        body{
            background-color: pink;
        }
    </style>

    <body>

        <div class="container" >
            <div class="row">
            <div class="col-sm-4" style="background-color:solid pink"> 
                <h3>Analizador de lugares EAFIT</h3>
                <form method=post enctype=multipart/form-data>
                    <input type="file">
                    <input type="submit" value="Analizar" >
                    <p>Elije o toma foto y dale a Analizar</p>
                </form>               
            </div>
            {% if lugar %}
            <div class="col-sm-4">
                <h1>Usted esta en el bloque: {{ lugar }}</h1>
                <img src="{{ url_for('static', filename=filename) }}">
            </div>
            {% endif %}
            </div>
        </div>
    </body>

